body {
  background-color: rgb(248, 248, 248);
}

#home-page {
  font-family: 'Karla', sans-serif;
}
h4 {
  color: rgb(77, 77, 77);
}

#sign-up {
  float: right;
  margin-right: 150px;
  margin-top: -30px;
  font-family: 'Amatic SC', cursive;
}

#invoice-header {
  padding-top: 40px;
}

#live-chat-header {
  padding-top: 30px;
}

#email-tagline {
  padding-bottom: 20px;
}
#invoice-section {
  margin-left: 20%;
  margin-bottom: 125px;
}

#email-section {
  margin-left: 22%;
  margin-bottom: 50px;
}

#chat-section {
  margin-left: 20%;
}

#invoice-icon {
  height: 150px;
  float: left;
  margin-right: 30px;
}

#email-icon {
  height: 150px;
  margin-left: 500px;
  margin-top: -140px;
}

#chat-icon {
  height: 150px;
  float: left;
  margin-right: 60px;
}

#logo-line {
  text-align: center;
}
#tagline {
  text-align: center;
}

#tagline {
  color: rgb(179, 179, 179);
  margin-bottom: 150px
}

#sign-up:hover {
  color: rgb(65,105,225);
}

#sign-in {
  float: right;
  margin-top: -30px;
  margin-right: 80px;
  font-family: 'Amatic SC', cursive;
}

#sign-in:hover {
  color: rgb(65,105,225);
}

#logo {
  margin-top: 30px;
  margin-left: 150px;
}

#header {
  margin-left: 25%;
  margin-top: 55px;
}

#left {
  width: 200px;
  font-weight: bold;
}

#middle {
  width: 200px;
  font-weight: bold;
}

#right {
  width: 200px;
  font-weight: bold;
}

#recipient-list {
  margin-left: 20%;
  margin-right: 20%;
}

#recipient-title {
  margin-left: 20%;
  color: rgb(82, 82, 82)
}

#table {
  margin-bottom: -1px;
}

#recipient-form {
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 17%;
}

#name {
  margin-left: 30px;
}

#email {
  margin-left: 30px;
}

#phone {
  margin-left: 30px;
}

#container {
  background-color: white;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 40px;
  margin-bottom: 100px;
  height: 400px;
  box-shadow: 0 0 242px 0 rgba(0,0,0,0.15),0 0 20px -6px rgba(0,0,0,0.3),0 8px 20px -6px rgba(0,0,0,0.3)
}

td {
  width: 200px;
  /*font-weight: lighter;*/
  font-size: 15px;
  color: gray;
  color: black;
  font-family: 'PT Sans Narrow', sans-serif;
}
th {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
}

#id-form {
  margin-top: 30px;
  margin-left: 125px;
  font-size: 20px;
  color: gray;
}

#form-id {
  margin-left: 125px;
  width: 23px;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 1px dotted gray;
  outline: none;
  padding-top: 10px;
}

#invoice-title {
  text-align: center;
  font-family: 'Karla', sans-serif;
  font-size: 25px;

}

#form-name {
  float: right;
  margin-right: 175px;
  border-left: none;
  border-top: none;
  border-right: none;
  width: 45px;
  border-bottom: 1px dotted gray;
  outline: none;
  padding-top: 10px;
}

#form-details {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px dotted gray;
  outline: none;
  margin-left: -3px;
}

#form-hours {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px dotted gray;
  outline: none;
  margin-left: -3px;
}

#form-rate {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px dotted gray;
  outline: none;
  margin-left: -3px;
}

#form-total {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px dotted gray;
  outline: none;
  margin-left: -3px;
}

#form-recipient {
  margin-top: 100px;
  margin-left: 480px;
}

#invoice-form {
  margin-top: 100px;
  margin-left: 125px;
}

#all-invoices {
  margin-top: 30px;
  margin-left: 12%;
}


#chat-form {padding: 3px; position: fixed; bottom: 0; width: 500px;}
form input { border: 0; padding: 10px; width: 90%; margin-right: .5%;}
form button { width: 9%; background: #31708f; border: none; padding: 10px;}
#messages { list-style-type: none; margin: 0; padding: 0;}
#messages li { padding: 5px 10px; font-family: 'PT Sans Narrow', sans-serif; }
#messages li:nth-child(odd) { background: #eee; }
#chat { height: 300px; width: 500px; margin-top: 850px; border-radius: 3px; position: fixed; bottom: 0; background-color: rgb(248, 248, 248); margin-left: 360px;}
